<div class="product-description-wrap ">
    <div class="container">
        <div class="row">
            <div class="product-description m-auto">
                <div class="product-description-img">
                    <img class="src-src-src" src="{{product.img}}" alt="">
                </div>
                <div class="detailed-info">
                    <span class="stock-status btn-sale-off">Sale Off</span>
                    <h2 class="title-detail">{{product.title}}</h2>
                    <div class="product-price">
                        <div class="current-price">
                            <span>${{product.price}}</span>
                        </div>
                    </div>
                    <div class="short-desc">
                        <p>{{product.detail}}</p>
                    </div>
                    <div class="btn-submit add-cart">
                        <button type="submit" class="btn" onclick="addCartPageDescription()">
                            <i class="fa-solid fa-cart-shopping icon-cart-mr-8"></i>
                            Add to cart
                        </button>
                    </div>
                </div>

            </div>
            <div class="description-long-wrap  m-auto">
                <div class="description-long">
                    <a class="description-categori">Description</a>
                    <div class="description-text">
                        <p>Uninhibited carnally hired played in whimpered dear gorilla koala depending and much
                            yikes off far quetzal goodness and from for grimaced goodness unaccountably and
                            meadowlark near unblushingly crucial scallop tightly neurotic hungrily some and dear
                            furiously this apart.
                        </p>

                        <p>Spluttered narrowly yikes left moth in yikes bowed this that grizzly much hello on
                            spoon-fed that alas rethought much decently richly and wow against the frequent
                            fluidly
                            at formidable acceptably flapped besides and much circa far over the bucolically hey
                            precarious goldfinch mastodon goodness gnashed a jellyfish and one however because.
                        </p>
                    </div>

                    <ul class="product-more-infor">
                        <li>
                            <span>Type Of Packing</span>
                            Bottle
                        </li>
                        <li>
                            <span>Color</span>
                            Green, Pink, Powder Blue, Purple
                        </li>
                        <li>
                            <span>Quantity Per Case</span>
                            100ml
                        </li>
                        <li>
                            <span>Ethyl Alcohol</span>
                            70%
                        </li>
                        <li>
                            <span>Piece In One</span>
                            Carton
                        </li>
                    </ul>
                    <p class="description-text">Laconic overheard dear woodchuck wow this outrageously taut
                        beaver hey hello far meadowlark
                        imitatively egregiously hugged that yikes minimally unanimous pouted flirtatiously as
                        beaver
                        beheld above forward energetic across this jeepers beneficently cockily less a the
                        raucously
                        that magic upheld far so the this where crud then below after jeez enchanting drunkenly
                        more
                        much wow callously irrespective limpet.</p>
                </div>
            </div>
        </div>
    </div>
</div>

