<div class="about-shop-wrap mt-30 js-open-page-about ">
    <div class="container">
        <div class="row">
            <div class="about-shop col-10 m-auto">
                <div class="about-header mb-30 row">
                    <div class="col col-xl-6 col-12">
                        <div class="about-img-primary">
                            <img src="/img/about-1.png" alt="">
                        </div>
                    </div>
                    <div class="col col-xl-6 col-12 mt-30 about-content-header">
                        <div class="about-title-content-header mb-30">Welcome to Nest</div>
                        <div class="mb-30">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod
                            tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Nullam quis
                            ante
                            etiam sit amet orci egetsedDuis aute irure dolor in reprehenderit in voluptate id
                            est
                            laborum.</div>
                        <div class="mb-30">
                            Ius ferri velit sanctus cu, sed at soleat accusata. Dictas prompta et Ut placerat
                            legendos interpre.Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante
                            etiam sit amet orci egetsed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua.
                        </div>

                        <div class="mb-30">
                            Turpis massa
                            tincidunt dui ut ornare lectus. Auctor elit sed vulputate mi sit amet. Commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate id est laborum.
                        </div>

                        <div class="about-slide-img">
                            <div class="about-slide-img-item">
                                <img src="/img/about-2.png" alt="">
                            </div>
                            <div class="about-slide-img-item">
                                <img src="/img/about-3.png" alt="">
                            </div>
                            <div class="about-slide-img-item">
                                <img src="/img/about-4.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-60 load__animate">
                    <div class="container">
                        <h1 class="our-team-title-primary">What We Provide?</h1>
                        <div class="row">
                            <div class="col col-4">
                                <div class="featured-card">
                                    <img src="/img/icon-1.svg" alt="">
                                    <h4 class="mb-30">Best Prices & Offers</h4>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the
                                        majority have suffered alteration in some form
                                    </p>
                                </div>
                            </div>
                            <div class="col col-4">
                                <div class="featured-card">
                                    <img src="/img/icon-2.svg" alt="">
                                    <h4 class="mb-30">100% Satisfaction</h4>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the
                                        majority have suffered alteration in some form
                                    </p>
                                </div>
                            </div>
                            <div class="col col-4">
                                <div class="featured-card">
                                    <img src="/img/icon-3.svg" alt="">
                                    <h4 class="mb-30">Great Daily Deal</h4>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the
                                        majority have suffered alteration in some form
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row our-performance load__animate">
                    <div class="col col-xl-6">
                        <div class="img-our-performance">
                            <img src="/img/about-5.png" alt="">
                        </div>
                    </div>
                    <div class="col col-xl-6 our-performance-content">
                        <h4>Our performance</h4>
                        <h1>Your Partner for e-commerce grocery solution</h1>
                        <p class="mb-30">Ed ut perspiciatis unde omnis iste natus error sit voluptatem
                            accusantium
                            doloremque
                            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                            architecto</p>
                        <p class="mb-30">Pitatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo
                            enim
                            ipsam voluptatem
                            quia voluptas sit aspernatur aut odit aut fugit, sed quia</p>
                    </div>
                </div>

                <div class="row about-description mb-30">
                    <div class="col col-4 about-description-item">
                        <h1>Who we are</h1>
                        <p class="mt-30">Volutpat diam ut venenatis tellus in metus. Nec dui nunc mattis enim ut
                            tellus eros donec
                            ac odio orci ultrices in. ellus eros donec ac odio orci ultrices in.
                        </p>
                    </div>
                    <div class="col col-4 about-description-item">
                        <h1>Our history</h1>
                        <p class="mt-30">Volutpat diam ut venenatis tellus in metus. Nec dui nunc mattis enim ut
                            tellus eros donec
                            ac odio orci ultrices in. ellus eros donec ac odio orci ultrices in.
                        </p>

                    </div>
                    <div class="col col-4 about-description-item">
                        <h1>Our mission</h1>
                        <p class="mt-30">Volutpat diam ut venenatis tellus in metus. Nec dui nunc mattis enim ut
                            tellus eros donec
                            ac odio orci ultrices in. ellus eros donec ac odio orci ultrices in.
                        </p>

                    </div>
                </div>

                <div class="about-banner load__animate">
                    <img src="/img/about-9.png" alt="">
                </div>

                <div class="row mt-30 our-team-wrap">
                    <div class="container">
                        <h1 class="our-team-title-primary">Our Team</h1>
                        <div class="row">
                            <div class="col col-4 col-lg-12 our-team-description">
                                <h6>Our Team</h6>
                                <h1>Meet Our Expert Team</h1>
                                <p class="mt-30">Proin ullamcorper pretium orci. Donec necscele risque leo. Nam
                                    massa dolor
                                    imperdiet
                                    neccon sequata congue idsem. Maecenas malesuada faucibus finibus.</p>
                                <p class="mt-30">Proin ullamcorper pretium orci. Donec necscele risque leo. Nam
                                    massa dolor
                                    imperdiet
                                    neccon sequata congue idsem. Maecenas malesuada faucibus finibus.</p>
                            </div>
                            <div class="col  col-xl-8">
                                <div class="row">
                                    <div class="col col-4 col-lg-6 our-team-img">
                                        <img src="/img/about-6.png" alt="">
                                        <div class="our-team-info">
                                            <h2>H. Merinda</h2>
                                            <h5>CEO & Co-Founder</h5>
                                            <div class="our-team-contact">
                                                <i class="fa-brands fa-facebook"></i>
                                                <i class="fa-brands fa-twitter"></i>
                                                <i class="fa-brands fa-instagram"></i>
                                                <i class="fa-brands fa-youtube"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-4 col-lg-6  our-team-img">
                                        <img src="/img/about-8.png" alt="">
                                        <div class="our-team-info">
                                            <h2>Dilan Specter</h2>
                                            <h5>Head Engineer</h5>
                                            <div class="our-team-contact">
                                                <i class="fa-brands fa-facebook"></i>
                                                <i class="fa-brands fa-twitter"></i>
                                                <i class="fa-brands fa-instagram"></i>
                                                <i class="fa-brands fa-youtube"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>