<div class="page-contact-wrap js-open-page-contact ">
    <div class="body-main_page">
        <div class="container">
            <div class="row">
                <div class="first-body_main">
                    <div class="row align-items-end">
                        <div class="col-first-body_main">
                            <h4 class="title_first-body">How can help you ?</h4>
                            <h1 class="content_first_main-page">Let us know how we can help you</h1>
                            <p class="mb-30">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec
                                ullamcorper mattis, pulvinar dapibus leo.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec
                                ullamcorper mattis, pulvinar dapibus leo.`
                            </p>
                        </div>
                        <div class="item_frist-body">
                            <div class="row">
                                <div class="item_first">
                                    <h5 class="title-item">01. Visit Feedback</h5>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus
                                        nec ullamcorper mattis, pulvinar dapibus leo.
                                    </p>
                                </div>
                                <div class="item_first">
                                    <h5 class="title-item">02. Employer Services</h5>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus
                                        nec ullamcorper mattis, pulvinar dapibus leo.
                                    </p>
                                </div>
                                <div class="item_first">
                                    <h5 class="title-item">03. Billing Inquiries</h5>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus
                                        nec ullamcorper mattis, pulvinar dapibus leo.
                                    </p>
                                </div>
                                <div class="item_first">
                                    <h5 class="title-item">04. General Inquiries</h5>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus
                                        nec ullamcorper mattis, pulvinar dapibus leo.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container load__animate">
            <div class="row">
                <div class="last_main-page">
                    <div class="row infor-main-page">
                        <div class="last_main-item">
                            <h4 class="title-last_main-item">Shop</h4>
                            205 North Michigan Avenue, Suite 810
                            <br>
                            Chicago, 60601, USA
                            <br>
                            <abbr class="phone_email" title="Phone">Phone:</abbr>
                            (123) 456-7890
                            <br>
                            <abbr class="phone_email" title="Email">Email:</abbr>
                            contact@Evara.com
                            <br>
                            <a class="btn_View">
                                <i class="">

                                </i>
                                View map
                            </a>
                        </div>
                        <div class="last_main-item">
                            <h4 class="title-last_main-item">Shop</h4>
                            205 North Michigan Avenue, Suite 810
                            <br>
                            Chicago, 60601, USA
                            <br>
                            <abbr class="phone_email" title="Phone">Phone:</abbr>
                            (123) 456-7890
                            <br>
                            <abbr class="phone_email" title="Email">Email:</abbr>
                            contact@Evara.com
                            <br>
                            <a class="btn_View">
                                <i class="">

                                </i>
                                View map
                            </a>
                        </div>
                        <div class="last_main-item">
                            <h4 class="title-last_main-item">Shop</h4>
                            205 North Michigan Avenue, Suite 810
                            <br>
                            Chicago, 60601, USA
                            <br>
                            <abbr class="phone_email" title="Phone">Phone:</abbr>
                            (123) 456-7890
                            <br>
                            <abbr class="phone_email" title="Email">Email:</abbr>
                            contact@Evara.com
                            <br>
                            <a class="btn_View">
                                <i class="">

                                </i>
                                View map
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="info_Contact-from">
                            <h5 class="titel-Contact_from">Contact form</h5>
                            <h2 class="titel-Contact_from_2">Drop Us a Line</h2>
                            <p class="text-Contact_from">Your email address will not be published. Required fields are
                                marked *</p>
                            <form class="contact-from-style" action="">
                                <div class="row">
                                    <div class="from_Contact">
                                        <div class="input-style">
                                            <input name="name" placeholder="First Name" type="text">
                                        </div>
                                    </div>
                                    <div class="from_Contact">
                                        <div class="input-style input-style-odd">
                                            <input name="email" placeholder="Your Email" type="email">
                                        </div>
                                    </div>
                                    <div class="from_Contact">
                                        <div class="input-style">
                                            <input name="telephone" placeholder="Your Phone" type="tel">
                                        </div>
                                    </div>
                                    <div class="from_Contact">
                                        <div class="input-style input-style-odd">
                                            <input name="subject" placeholder="Subject" type="text">
                                        </div>
                                    </div>
                                    <div class="from_Contact-1">
                                        <div class="textarea-style">
                                            <textarea name="messenge" placeholder="Messenge"></textarea>
                                        </div>
                                    </div>
                                    <button class="btn-Messenge" type="submit">Send message</button>
                                </div>
                            </form>
                            <p class="form-messenger"></p>
                        </div>
                        <div class="img_Contact-1">
                            <img class="img_Contact" src="/img/contact-2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>