<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vegetable Farm</title>
</head>
<body>
    <div class="container">
        <div class="logo">
            <h1>Vegetable Farm</h1>
        </div>
        <div class="farm-container">
            <div class="vegetable__cart">
                <div class="vegetable__cart-box vegetable__vart-emoji"></div>
                <div class="vegetable__cart-box vegetable__vart-title">
                    <h3>Vegetable</h3>
                </div>
                <div class="vegetable__card-box vegetable__cart-details">
                    <div class="vegetable__cart-organic cart--organic">
                        <h6>Organic</h6>
                    </div>
                    <div>
                        <h6>Quanlity</h6>
                    </div>
                    <div>
                        <h6>Price</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>