<div class="content ">
    <div class="js-change-content">
        <div class="home-slide">
            <div class="container">
                <div class="home-slide-cover">
                    <input type="radio" name="radio-btn" id="radio1">
                    <input type="radio" name="radio-btn" id="radio2">
                    <div class="slide slide-first">
                        <img src="/img/slider-1.png" alt="">
                    </div>
                    <div class="slide slide-last">
                        <img src="/img/slider-2.png" alt="">
                    </div>

                    <div class="navigation-auto">
                        <div class="auto-btn1"></div>
                        <div class="auto-btn2"></div>
                    </div>

                    <div class="navigaiton-manual">
                        <label for="radio1" class="manual-btn"></label>
                        <label for="radio2" class="manual-btn"></label>
                    </div>
                </div>

            </div>
        </div>
        <div class="featured-categories load__animate">
            <div class="container">
                <div class="section-title">
                    <div class="title">
                        <h3>Featured Categories</h3>
                    </div>
                </div>
                <div class="list-featured-categories">
                    <div class="row">
                        <div class="col-1-2 ">
                            <div class="cover-button-product background-color-f0fce5">
                                <img src="/img/cat-13.png" alt="">
                                <h6>Cake & Milk</h6>
                            </div>

                        </div>

                        <div class=" col-1-2">
                            <div class="cover-button-product background-color-FFF3FF">
                                <img src="/img/cat-1.png" alt="">
                                <h6>Cabbage</h6>
                            </div>
                        </div>

                        <div class="col-1-2">
                            <div class="cover-button-product background-color-ECFFEC">
                                <img src="/img/cat-2.png" alt="">
                                <h6>Strawberry</h6>
                            </div>
                        </div>
                        <div class="col-1-2">
                            <div class="cover-button-product background-color-feefea">
                                <img src="/img/cat-12.png" alt="">
                                <h6>Oganic kiwi</h6>
                            </div>
                        </div>
                        <div class="col-1-2">
                            <div class="cover-button-product background-color-FFF3EB">
                                <img src="/img/cat-11.png" alt="">
                                <h6>Peach</h6>
                            </div>
                        </div>
                        <div class="col-1-2">
                            <div class="cover-button-product background-color-FFF3FF">
                                <img src="/img/cat-4.png" alt="">
                                <h6>Blueberry</h6>
                            </div>
                        </div>
                        <div class="col-1-2">
                            <div class="cover-button-product background-color-f0fce5">
                                <img src="/img/cat-9.png" alt="">
                                <h6>Apple</h6>
                            </div>
                        </div>
                        <div class="col-1-2">
                            <div class=" cover-button-product background-color-FFF3EB">
                                <img src="/img/cat-14.png" alt="">
                                <h6>Sank</h6>
                            </div>
                        </div>
                        <div class="col-1-2">
                            <div class="cover-button-product background-color-ECFFEC">
                                <img src="/img/cat-5.png" alt="">
                                <h6>Apple</h6>
                            </div>
                        </div>

                        <div class="col-1-2">
                            <div class="cover-button-product background-color-FFF3EB">
                                <img src="/img/cat-3.png" alt="">
                                <h6>Sank</h6>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="product-ads load__animate">
                    <div class="row">
                        <div class="cover-product-ads col-xl-4 ">
                            <img src="/img/banner-1.png" alt="">
                            <div class="banner-text">
                                <h3>
                                    Everyday Fresh &
                                    <br>
                                    Clean whit Our
                                    <br>
                                    Products
                                </h3>
                                <div class="button-show">
                                    <a>
                                        <h5>Show Now<i class="fa-solid fa-arrow-right-long"></i></h5>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="cover-product-ads col-xl-4">
                            <img src="/img/banner-2.png" alt="">
                            <div class="banner-text">
                                <h3>
                                    Make your Breakfast
                                    <br>
                                    Healthy and Easy
                                </h3>
                                <div class="button-show">
                                    <a>
                                        <h5>Show Now<i class="fa-solid fa-arrow-right-long"></i></h5>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="cover-product-ads col-xl-4">
                            <img src="/img/banner-3.png" alt="">
                            <div class="banner-text">
                                <h3>
                                    The best Oganinc
                                    <br>
                                    Products Online
                                </h3>
                                <div class="button-show">
                                    <a>
                                        <h5>Show Now<i class="fa-solid fa-arrow-right-long"></i></h5>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="popular-products mt-30 load__animate" id="popular-product-box">
            <div class="container">
                <div class="section-title">
                    <div class="title">
                        <h3>Popular Products</h3>
                    </div>
                    <div class="slide-arrow">
                        <span class="slide-arrow-left js-arrow-left">
                            <i class="fa-solid fa-arrow-left-long"></i>
                        </span>
                        <span class="slide-arrow-right js-arrow-right">
                            <i class="fa-solid fa-arrow-right-long"></i>
                        </span>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane list-product-wrap close-product-description-wrap">
                        <div class="list-product-1 show-product ">
                            <div class="row">
                                {{#each product}}
                                <div class="col col-2-4 col-4 col-6 col-12 mb-24">
                                    <div class="popular-product-cart-wrap js-page-description-product">
                                        <div class="product-card-header">
                                            <img class="js-product-cart-src img-product-box"
                                                src="{{this.img}}" alt="">
                                        </div>

                                        <div class="product-cart-content">
                                            <a href="/product/{{this._id}}" class="product-cart-title js-product-cart-title">{{this.title}}</a>
                                            <p class="product-cart-description">If you want to have some
                                                refreshing and healthy drinks. Choose your favorite taste and
                                                enjoy the best from Deliany Juice.</p>
                                            <div class="product-card-bottom">
                                                <span class="js-product-cart-price current-price">${{this.price}}</span>
                                                <div class="add-cart" onclick="addCartPageShop(event)">
                                                    <a class="btn">Add</a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>